body {
    margin: 0;
    background-color: beige;
    font-family: Arial, sans-serif;
}

.Parks{
    display: flex;
    justify-content: center;
    color: #a6051a;
    font-family: cursive;
}

.hori {
    border: none;
    height: 3px;
    background-color: #0166b1;
    width: 80%;
    margin: 30px auto;
}

.parks-section {
    padding: 30px;
    color: #1c1c1c;
}

.city-title {
    margin: 30px 0 15px;
    color: #0166b1;
    text-align: center;
}


.parks-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.park-card {
    background-color: #1c1c1c;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.park-card h3 {
    color: #ffffff;
}

.park-card p {
    color: #cccccc;
}

.park-card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #FCE903;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.park-card button:hover {
    background-color: #ffd700;
}

.copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #666;
}
.Explore {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 35px;
}


.Explore a {
    color: #134ca9;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
}

.Explore a:hover {
    color: rgb(132, 22, 163);
}


/* Media Query */
@media (max-width: 750px) {

  
  .navbar,
  .Explore {
    flex-wrap: wrap;
    gap: 15px;
  }

  .navbar a,
  .Explore a {
    font-size: 16px;
  }

 
  .parks-container,
  .offers-container {
    flex-direction: column;
    align-items: center;
  }

  .park-card,
  .offer-card {
    width: 90%;
  }


  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
